body {
    font-family: 'Nunito', sans-serif;
    font-size: 18px; 
    text-align: center;
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px 20px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    position: sticky; 
    top: 0;
    z-index: 100;
}

.index-body {
    background-color:  #ecdada;
}

.index-nav, .index-footer {
    background-color: #ad907a;
}

.panda-body {
    background-color: #f4f4f4;
}

.panda-nav, .panda-footer {
    background-color: #e0e0e0;
}

.polar-body {
    background-color: #e6f0f4;
}

.polar-nav, .polar-footer {
    background-color: #a5d8eb;
}

.cinnamon-body {
    background-color: #f5dec8;
}

.cinnamon-nav, .cinnamon-footer {
    background-color: #ba9f87;
}

.nav-site:last-of-type {
    margin-right: auto; 
}

.home-nav {
    margin-left: auto; 
}

.logo {
    width: 50px;
    height: 30px;
    display: none;
    position: absolute; /* Absolute positioning to center the logo */
    left: 50%; /* Move the logo to the center of the nav */
    transform: translateX(-50%); /* Adjust the logo back to perfect center */
}

nav a, ul a {
    color: #000;
    font-weight: bold;
    margin: 0 10px;
}

nav a {
    text-decoration: none; 
}

.circle-container, .circle-container-two {
    grid-template-columns: repeat(6, 1fr); /* Six equal columns */
    gap: 20px; /* Add spacing between items */
    justify-content: center; /* Center the grid horizontally */
    margin: 20px 0; /* Add vertical margin */
    width: fit-content; /* Shrink the grid to fit its content */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

.phone-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    position: relative;
    margin: auto; 
}

.circle-container, .circle-container-two, #see-more {
    display: none; 
}

button {
    background-color: inherit;
    border-radius: 20px;  
    padding: 6px 10px; 
    font-weight: bold; 
}

.circle, .mySlides {
    width: 150px;
    height: 150px;
    border: 3px solid #4b4343;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-site a, .home-nav, footer a {
    display: inline-block;
}

.circle, .nav-site a, .home-nav, button, footer a, .click-img {
    transition: transform 0.3s ease-in-out;
}

.circle:hover, .circle:focus, .nav-site a:hover, .nav-site a:focus, .home-nav:hover, .home-nav:focus, footer a:hover, 
footer a:focus, .click-img:hover, .click-img:focus {  
    transform: scale(1.1);
}

button:hover, button:focus, button:hover, button:focus, .facts:hover, .more-facts:hover, .details:hover, 
.embedded-video:hover, .jellycat:hover, .spotify:hover, .links:hover {
    transform: scale(1.03);
}


.facts, .details, .video, .more-facts, .links {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    text-align: left;
}

/* Apply common styles to containers */
.facts, .more-facts, .details, .embedded-video, .jellycat, .spotify, .links {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 10px; 
}

/* Hover effect for scaling and box shadow */
.facts:hover, .more-facts:hover, .details:hover, .embedded-video:hover, .jellycat:hover, .spotify:hover, .links:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add a stronger shadow */
}

footer {
    background-color: #f4f4f4;
    padding: 10px; 
    bottom: 0;
    box-sizing: border-box; /* Ensures padding is included in the total width */
    text-align: right; /* Align text to the right */
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    margin-right: 10px; 
}

.embedded-video {
    width: 350; 
    height: 200px;
}

.video {
    text-align: center;
}

.spotify{
    border-radius: 12px;   
    width: 300px; 
    height: 352px;
}

.jellycat{
    width: 300px; 
    height: 400px;
    border-radius: 20px; 
}

.bearthink {
    width: 338px;
    height: 453px; 
}

.thinkcloud {
    display:none;
    width: 366px; 
    height: 243px;
}

.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Three columns: left clickable section, bear area, right clickable section */
    align-items: center; /* Align items vertically */
    gap: 20px; /* Add spacing between columns */
}

.click-img{
    width: 180px; 
    height: 130px;
}

.clickable-section {
    display: none; 
    grid-template-columns: repeat(1, 1fr);
    justify-items: center; /* Center content horizontally */
    gap: 10px; /* Space between each item */
}

.cloud-container {
    position: relative; /* Ensure the thought bubble container is a positioning context */
}

.overlay-image {
    position: absolute;
    top: 40%; /* Adjust this value to align the image vertically */
    left: 60%; /* Adjust this value to align the image horizontally */
    transform: translate(-50%, -50%); /* Center the overlay image */
    pointer-events: auto; /* Make sure clicks pass through the overlay image */
    width: 180px; 
    height: 130px;
}

@media (min-width: 720px) {
    .logo {
        display: block;
    }

    #see-more, .thinkcloud{
        display: inline-block; 
    }

    .phone-container {
        display: none;
    }

    .circle-container, .clickable-section {
        display: grid; 
    }

    .embedded-video {
        width: 800px; 
        height: 500px;
    }

    .spotify{
        width: 800px; 
    }
    
    .jellycat{
        width: 450px; 
        height: 550px;
    }
}
@media (min-width: 1024px) {}